*{
    font-family: Arial, helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(144, 94, 58);
}

main {
    background-color: yellow;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.526);
}